.bouncer
{
	display: flex;
	flex-direction: column;
	align-items: center;

}
*:focus {
    outline: 0 !important;
}
.brand-cover
{	
	border:1.5px solid #d9d9d9;
	border-right:1.5px solid #d9d9d9;
	border-bottom:1.5px solid #d9d9d9;
}

.brand-cover .counter
{
	position:absolute;
	left:5px;
	top:5px;
	color:grey;
	font-weight:bold;
}
.brand-cover img
{
	max-width:120px;
	filter: invert(0.664) grayscale(1) brightness(1);
	margin-left:calc(50% - 60px);
	margin-top:10px;
	margin-bottom:10px;
}
.content
{
	border:1px solid #d9d9d9;
	height:100px;
}
.content .time
{
	padding:5px 10px;
	font-size:14px;
	color:black;
}
.content .program
{
	padding-left:10px;
	padding-right:10px;
	font-size:15px;
	color:black;
	font-weight:bold;
}
.grid-item .active
{
background:#dedede;	
}

.owl-next
{
	position: absolute;
    right: -5px;
    top: -5px;
    width: 50px;
    height: 90px;
    font-size: 30px !important;
    background: rgba(192,192,192,0.3) !important;
    border-bottom-left-radius: 90px !important;
    border-top-left-radius: 90px !important;
	text-decoration: none;
	content : '' !important;
}
.owl-prev
{
	position: absolute;
    left: -5px;
    top: -5px;
    width: 50px;
    height: 90px;
    font-size: 30px !important;
    background: rgba(192,192,192,0.3) !important;
    border-bottom-right-radius: 90px !important;
    border-top-right-radius: 90px !important;
	text-decoration: none;
	content : '' !important;
}
